/*.............Header.js..............*/



.Header{
    height: 100px;
    background-color: purple ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header > div > img{
    height: 50px;
}
.Header > div >h1{
    font-size: 20px;
}

.Header > div{
    margin-right:20px;
}


/*.......Body.js.........*/



.forms{
    /* background-color: aqua; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
  
}


.forms > form {
    display: flex;
    margin-block: 20px;
    
    
}

.forms > form > input {
    text-indent: 20px;
    margin-inline: 10px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.forms > button {
    width:200px;
    height: 35px;
    background-color:  purple;
    color:white;
    border:transparent;
    cursor: pointer;
    border-radius: 5px;
    font-size:15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.emogi{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emogi > img {
    height: 100%;
}



/*.......UseStateObject.........*/
.object_cover{
    display: flex;
    align-items: center;
    justify-content: center;
}


.object{
    height: auto;
    width: 200px;
    display: flex;
    align-items: center;
    

}

.object > div{
    margin-inline: 20px;
    
}
.object > div > p {
    margin-block: 20px;
    font-size: 20px;
    
}






