
section{
    overflow-y: scroll;
    height: 744px;
}


/* .body_home{
    height: 744px;
    overflow-y: scroll;
} */

.pic_cover{
    width:100%;
    height: 400px;
}
.pic{
    width: 100%;
    height: 100%;
}

/*.............horizontal scroll pictures .............*/
.wrapper{
    height: 300px;
    width:100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    /* background: blue; */
    box-shadow: 0 8px 15px 0 rgba(119, 117, 117, 0.3);
   
}


/* .wrapper::-webkit-scrollbar{
   width: 0px;
} */

.item{
    height:100%;
    width: 250px;
    margin-left: 10px;
}
.subitem{
    height: 200px;
    width: 200px;
}

.ww{
    height: 100px;
    width: 200px;
}

.b{
    width: 100%;
    height: 100%;
}
/*.............horizontal scroll pictures .............*/


/*.........More btn..............*/
.more{
    height: 100px;
display: flex;
justify-content: center;
align-items: center;

}
.btn{
 width: 90px;
 height: 40px;
 border-radius:10px;
 border: none;
box-shadow: 0 8px 15px 0 rgba(119, 117, 117, 0.3);

}

.more_a{
    font-size: 20px;
    font-weight: bold;
    color:rgb(170, 67, 238);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

/* 
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
*/

/*.........More btn..............*/



/*........Text...................*/


.Text{
    height: 400px;
    display: flex;
justify-content: center;
align-items: center;
padding: 10px,10px,10px,10px;

}
.Text_message{
    height: 340px;
    width: 70%;
    border-radius:10px;
   box-shadow: 0 8px 15px 0 rgba(119, 117, 117, 0.3);
   display: flex;
   justify-content: center;
   align-items: center;
   /* padding: 50px; */
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*........Text...................*/

/*........Help and About ............*/


.help_about{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.help{
    font-size: 20px;
    /* font-weight: bold; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px 10px 20px;
    border-radius:10px;
    box-shadow: 0 8px 15px 0 rgba(119, 117, 117, 0.3);
    color: black;
    cursor: pointer;
    
}

.about{
    font-size: 20px;
    /* font-weight: bold; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px 10px 20px;
    border-radius:10px;
    box-shadow: 0 8px 15px 0 rgba(119, 117, 117, 0.3);
    margin-left: 20px;
    color: black;
    cursor: pointer;
}

.about:hover {
    color: blueviolet;
    -webkit-tap-highlight-color: transparent;
}

.help:hover{
    color: blueviolet;
    -webkit-tap-highlight-color: transparent;
}


/*........Help and About ............*/





/*.......developer contact.................*/

.Chrisdev_cover{

    height: 100px;
    background-color: rgb(170, 169, 169);

}

.Chrisdev{
 float: right;
 margin-top: 55px;
 margin-right: 10px;
}

.Chrisdev_a{
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 20px;
    /* font-weight: bold; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Chrisdev_a:hover{
    color: blueviolet;
    -webkit-tap-highlight-color: transparent;
}


/*.......developer contact.................*/